
    <div class="imagen-fondo">
        
      <img src="assets/img/cesped.jpg" alt="Imagen fondo">

    </div>

    <div class="imagen-logo2">
      <img class="animate__animated animate__backInLeft" src="assets/img/logo.png" alt="Imagen logo">
      <p class="texto-i">Consulta los resultados y estadísticas de los equipos y jugadores del momento.</p>
    </div>


    <div class="recuadro-opaco">

      <div class="contenido">
        <img src="assets/img/campo.png" alt="Imagen campo" class="img-contenido">
        <h2 class="titulo-contenido">Partidos</h2>
        <p class="texto-contenido">Consulta estadísticas de partidos de fútbol.</p>
      </div>

      <div class="contenido2">
        <img src="assets/img/pred.png" alt="Imagen predicciones" class="img-contenido2">
        <h2 class="titulo-contenido2">Predicciones</h2>
        <p class="texto-contenido2">Accede a predicciones únicas de equipos, jugadores y estadísticas.</p>
      </div>

      <div class="contenido3">
        <img src="assets/img/trofeo.png" alt="Imagen trofeo" class="img-contenido3">
        <h2 class="titulo-contenido3">Competiciones</h2>
        <p class="texto-contenido3">Consulta tus competiciones favoritas.</p>
      </div>

      <div class="contenido4">
        <img src="assets/img/cam.png" alt="Imagen video" class="img-contenido4">
        <h2 class="titulo-contenido4">SportsIA</h2>
        <p class="texto-contenido4">Sube y visualiza vídeos en la web con tecnología de seguimiento de objetos en el campo.</p>
      </div>

      <div class="contenido5">
        <img src="assets/img/stadium.png" alt="Imagen estadio" class="img-contenido5">
        <h2 class="titulo-contenido5">Equipos</h2>
        <p class="texto-contenido5">Sigue a tu equipo favorito.</p>
      </div>

      <div class="contenido6">
        <img src="assets/img/google.png" alt="Imagen estadio" class="img-contenido6">
        <h2 class="titulo-contenido6">Google</h2>
        <p class="texto-contenido6">Inicia sesión con Google para disfrutar de las funciones SportsIA y Predicciones.</p>
      </div>


    </div>
    
    

