
<div class="imagen-fondo">
    
  <img src="assets/img/cesped.jpg" alt="Imagen fondo">

</div>

<div fxFlex fxLayout="column" fxLayoutGap="150px">
  <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="margen">
    <div class="imagen-logo2 animate__animated animate__slideInLeft" fxFlex="30" fxLayout="column" fxLayoutAlign="center center" >
        <img src="assets/img/logo.png" alt="Imagen logo" class="img">
        <h1 class="titulo">Fútbol y estadísticas</h1>
    </div>
  
    <div class="recuadro-opaco" fxFlex="65" fxLayoutAlign="center start">
  
      <div fxFlex fxFill fxLayout="column" class="margen2" >
        <div fxFlex fxLayout="row" fxLayoutAlign="space-around start"  >
          <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" >
            <i class="fi fi-br-football fuente"></i>
            <h1>Partidos</h1>
            <p>Consulta los partidos de un equipo, una liga y fíltralos por fecha.</p>
          </div>
            
          <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <i class="fi fi-ss-trophy fuente"></i>
            <h1>Competiciones</h1>
            <p>Consulta las clasificaciones de las ligas.</p>
          </div>
    
          <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <i class="fi fi-ss-employees fuente"></i>
            <h1>Equipos</h1>
            <p>Consulta la información de un equipo y estadísticas de juego.</p>
          </div>
        </div>
  
        <div fxFlex fxLayout="row" fxLayoutAlign="space-around start">
  
          <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <i class="fi fi-sr-chart-simple-horizontal fuente"></i>
            <h1>Predicciones</h1>
            <p>Consulta predicciones, gráficos y estadísticas de fútbol.</p>
          </div>
            
          <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <i class="fi fi-rr-artificial-intelligence fuente"></i>
            <h1>SportsAI</h1>
            <p>Utiliza la herramienta ImageAI para realizar un seguimiento de los jugadores en el campo.</p>
          </div>
  
          <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <i class="fi fi-brands-google fuente"></i>
            <h1 >Google</h1>
            <p >Inicia sesión con Google para disfrutar de las funciones SportsAI y Predicciones.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div fxFlex fxLayout="row" fxLayoutGap="350px" class="container-video" >
    <div class="animate__animated animate__slideInLeft containerMovil" fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/pixel7.png" alt="Movil" class="movil">
      <h2>Adaptada a móvil</h2>
    </div>
    <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
      <p class="textoAdaptado"><strong>FutboStats</strong> ha sido adaptada a móvil para mejorar la experiencia de usuario en dispositivos de tamaño más reducido. El diseño de móvil tiene un menú desplegable para acceder a las distintas rutas de la aplicación.</p>
    </div>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="contenedor-videos">
    <h1>Vídeo orientativo para utilizar la opción "Partidos"</h1>
    <video  controls>
      <source src="/assets/img/partidos-video.mp4" type="video/mp4">
      Tu navegador no soporta el elemento <code>video</code>.
    </video>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="contenedor-videos">
    <h1>Vídeo orientativo para utilizar la opción "Equipos"</h1>
    <video  controls>
      <source src="/assets/img/equipos-video.mp4" type="video/mp4">
      Tu navegador no soporta el elemento <code>video</code>.
    </video>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="contenedor-videos">
    <h1>Vídeo orientativo para utilizar la opción "Competiciones"</h1>
    <video  controls>
      <source src="/assets/img/competiciones-video.mp4" type="video/mp4">
      Tu navegador no soporta el elemento <code>video</code>.
    </video>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="contenedor-videos">
    <h1>Vídeo orientativo para utilizar la opción "SportsAI"</h1>
    <video  controls>
      <source src="/assets/img/sportsAI-video.mp4" type="video/mp4">
      Tu navegador no soporta el elemento <code>video</code>.
    </video>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="contenedor-videos">
    <h1>Vídeo orientativo para utilizar la opción "Predicciones"</h1>
    <video  controls>
      <source src="/assets/img/predicciones-video.mp4" type="video/mp4">
      Tu navegador no soporta el elemento <code>video</code>.
    </video>
  </div>



  <app-spacer></app-spacer>
</div>













    
    

