
.img-contenido {
    max-width: 100px; 
    width: 100%;  

}

.fuente{
    font-size: 100px;
}

h1{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif !important;
}

h2{
    font-weight: 700;
    font-family: 'Poppins', sans-serif !important;
}

.titulo{

    margin-left: 7%;
    font-weight: 1000;
}

.textoAdaptado{
    font-size: 30px;
    width: 90%;
    font-weight: 500;
    background-color: rgba(239, 239, 239, 0.7);
    border: 5px solid #000;
    border-radius: 10px;
}

p{
    font-size: 22px;
    width: 70%;
    text-align: center;
    line-height: 1.3;
}

.movil{
    margin-top: 10px;
    width: 1300px;
}

.margen{
    margin-top: 8%;
}

.margen2{
    margin-top: 3%;
}

video{
    width: 800px;
  }

.contenedor-videos{
    margin: auto;
}

/* Media Queries para ajustes en dispositivos móviles */
@media (max-width: 768px) {
    .img-contenido {
        max-width: 50px; 
    }

    .img{
        width: 390px;
        margin-left: 0;
        margin-right: 0;
     
    }

    .titulo{
        display: none;
        
    }

    .fuente {
        font-size: 60px;
    }

    h1 {
        font-size: 17px; 
        font-weight: 500;
    }

    p {
        font-size: 15px; 
    }

    .margen, .margen2 {
        margin-top: 5%; 
    }

    .recuadro-opaco {
        padding: 10px; 
        height: 1800px;
        margin-left: 10px;
        margin-right: 0;
    }

    .textoAdaptado{
        display: none;
    }

    h2{
       display: none;
    }

    .movil{
        display: none;
    }

    video {
        width: 90%; 
        margin: auto;
      }

    h1{
        font-size: 14px;
        gap: -1000px;
    }

    .container-video{
        margin-top: -55%;
    }

    [fxLayout] {
        flex-direction: column !important;
    }

    [fxFlex] {
        width: 100% !important; 
    }
}

