
<div class="imagen-fondo">
    
  <img src="assets/img/cesped.jpg" alt="Imagen fondo">

</div>

<div fxFlex fxLayout="row" fxLayoutAlign="start center" class="margen">
  <div class="imagen-logo2 animate__animated animate__slideInLeft" fxFlex="30" fxLayout="column" fxLayoutAlign="center center" >
      <img src="assets/img/logo.png" alt="Imagen logo" class="img">
      <h1>Fútbol y estadísticas</h1>
  </div>

  <div class="recuadro-opaco" fxFlex="65" fxLayoutAlign="center start">

    <div fxFlex fxFill fxLayout="column" class="margen2" >
      <div fxFlex fxLayout="row" fxLayoutAlign="space-around start"  >
        <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center" >
          <img src="assets/img/campo.png" alt="Imagen campo" class="img-contenido">
          <h1>Búsqueda de partidos</h1>
          <p>Podrás encontrar el partido que te interesa buscando por el nombre del equipo, el nombre de la liga, el año o una fecha.</p>
        </div>
          
        <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
          <img src="assets/img/trofeo.png" alt="Imagen campo" class="img-contenido">
          <h1>Clasificación</h1>
          <p>Consulta la clasificación de la liga que quieres utilizando el nombre de la liga y un año.</p>
        </div>
  
        <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
          <img src="assets/img/estadio.png" alt="Imagen estadio" class="img-contenido">
          <h1>Equipos</h1>
          <p>Consulta información de tu equipo favorito como el estadio, plantilla, estadísticas de juego, partidos anteriores y próximos.</p>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="space-around start"  >

        <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
          <img src="assets/img/prediccion.png" alt="Imagen predicciones" class="img-contenido">
          <h1>Predicciones</h1>
          <p>Goles esperados, resultados predecidos de una liga por un modelo, gráficos representativos.</p>
        </div>
          
        <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
          <i class="fi fi-rr-artificial-intelligence fuente"></i>
          <h1>SportsAI</h1>
          <p>Visualiza utiliza esta herramienta para trackear tu vídeo deportivo con imageAI.</p>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
          <i class="fi fi-brands-google fuente"></i>
          <h1 >Google</h1>
          <p >Inicia sesión con Google para disfrutar de las funciones SportsAI y Predicciones.</p>
        </div>
      </div>
    </div>
  </div>
</div>









    
    

