<!--
<table class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let liga of ligas; let i = index"
            class="animate__animated animate__fadeIn animate__faster">
            <td> {{ i + 1 }} </td>
            <td>
                <img class="small-flag" [src]="liga.flag" >
            </td>
            <td> {{ liga.id }}, {{ liga.name }}</td>
        </tr>
    </tbody>
</table>

-->