
<div class="imagen-fondo">
        
    <img src="assets/img/cesped.jpg" alt="Imagen fondo">

</div>


<h1> SportsAI: imageAI</h1>

<div class="info">
  <i class="fi fi-sr-info"></i>
  <span>Utiliza ImageAI en tus videos deportivos para trackear el movimiento de los jugadores.</span>
</div>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="100px">

  <div class="video-container" >
    <video  controls class="video1">
      <source src="/assets/img/GolCrNewRetinanet.mp4" type="video/mp4">
      Tu navegador no soporta el elemento <code>video</code>.
    </video>
  </div>

  <div class="loader" *ngIf="loading"></div>
  <div class="drag-drop-area" 
      (drop)="onFileDropped($event)" 
      (dragover)="onDragOver($event)" 
      (dragleave)="onDragLeave($event)"
      (click)="openFileChooser()" fxflex fxLayout="column" fxLayoutGap="10px">
      <i class="fi fi-rr-file-video icono2"></i>
      <span>Haz click o suelta tus archivos aquí para utilizar imageAI</span>
  </div>
  <input type="file" style="display: none;" (change)="onFileSelected($event)" #fileInput>


  <div class="video-container" *ngIf="videoUrl">
    <video controls (error)="handleError($event)">
        <source [src]="videoUrl" type="video/mp4">
        Tu navegador no soporta el elemento <code>video</code>.
      </video>
  </div>

</div>



<app-spacer></app-spacer>


