 
<div class="imagen-fondo">
        
    <img src="assets/img/cesped.jpg" alt="Imagen fondo">

</div>

<div class="dropdown">
  <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>sports_soccer</mat-icon><span> Goles esperados xG</span></button>
  <mat-menu #menu="matMenu">
  <button (click)="navegarC()" mat-menu-item><mat-icon>emoji_events</mat-icon><span>Clasificaciones</span></button>
  <button (click)="navegarxG()" mat-menu-item><mat-icon>sports_soccer</mat-icon><span>Goles esperados xG</span></button>
  <button (click)="navegarMundial()" mat-menu-item><mat-icon>public</mat-icon><span>Mundial</span></button>
</mat-menu>
</div>

<h1>Predicciones: goles esperados xG</h1>
<div class="info">
  <i class="fi fi-sr-info"></i>
  <span>Visualiza el modelo de goles esperados y sus resultados.</span>
</div>
<div class="loader" *ngIf="loading"></div>


<div class="card animate__animated animate__zoomInDown" *ngIf="xgData">
  <div class="first-content">
    <div class="card-body">
      <h5 class="card-title"><span>Matriz de Confusión</span></h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Predicción: Gol</th>
            <th scope="col">Predicción: No Gol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Realidad: Gol</th>
            <td>{{ xgData.confusion_matrix['0']['0'] }}</td> 
            <td>{{ xgData.confusion_matrix['0']['1'] }}</td> 
          </tr>
          <tr>
            <th scope="row">Realidad: No Gol</th>
            <td>{{ xgData.confusion_matrix['1']['0'] }}</td> 
            <td>{{ xgData.confusion_matrix['1']['1'] }}</td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="second-content">
    <p class="body3"><strong>0 - 0 True positive:</strong> El modelo predijo que un gol sería marcado y efectivamente fue así. </p>
    <p class="body3"><strong>0 - 1 False negative:</strong>  El modelo predijo que no se marcaría un gol, pero en realidad ocurrió un gol.</p>
    <p class="body3"><strong>1 - 0 False positive:</strong> El modelo predijo que se marcaría un gol (positivo), pero no se anotó ningún gol (negativo).</p>
    <p class="body3"><strong>1 - 1 True negative:</strong>  El modelo predijo correctamente que no se marcaría un gol (negativo).</p>
  </div>
</div>

<div class="card animate__animated animate__zoomInDown" *ngIf="xgData">
  <div class="first-content">
    <div class="card-body">
      <h5 class="card-title"><span>Métricas del modelo</span></h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="acortar">Especificidad</th>
            <th scope="col" class="acortar">Exactitud</th>
            <th scope="col" class="acortar">Precisión</th>
            <th scope="col" class="acortar">Sensibilidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">%</th>
            <td>{{ xgData.especifidad*100 | number: '1.2-2' }}</td> 
            <td>{{ xgData.exactitud*100 | number: '1.2-2'}}</td> 
            <td>{{ xgData.precision*100 | number: '1.2-2'}}</td> 
            <td>{{ xgData.sensibilidad*100 | number: '1.2-2'}}</td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="second-content">
    <p class="body3"><strong>Especificidad: </strong> El modelo es muy bueno (98.94%) para predecir cuándo NO se marcará un gol.</p>
    <p class="body3"><strong>Exactitud:</strong>  El modelo predijo correctamente el evento (gol o no gol) en esa proporción de las veces(90.34%).</p>
    <p class="body3"><strong>Precisión:</strong>El modelo predice correctamente cuando SI hay gol en el 69.39% de las veces.</p>
    <p class="body3"><strong>Sensibilidad:</strong>El modelo predijo que no se marcaría gol, pero si hubo gol en el 19.69% de las veces.</p>
  </div>
</div>


<div class="card animate__animated animate__zoomInDown" *ngIf="xgData">
  <div class="first-content">
    <div class="card-body">
      <h5 class="card-title golesRP"><span>Goles reales vs Goles predecidos</span></h5>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Goles Reales</th>
              <th scope="col">Goles Predecidos</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Número de goles</th>
              <td>{{ xgData.golesReales_vs_predecidos.goles_hubo}}</td> 
              <td>{{ xgData.golesReales_vs_predecidos.goles_predecido| number: '1.2-2'}}</td> 
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">No acabaron en gol</th>
              <th scope="col">Acabaron en gol</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">%</th>
              <td>{{ xgData.goles_esperados[0]*100 | number: '1.2-2'}}</td> 
              <td>{{ xgData.goles_esperados[1]*100| number: '1.2-2'}}</td> 
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div class="second-content">
    <p class="body3"><strong>Goles predecidos: </strong>Los goles que ocurrieron realmente fueron {{xgData.golesReales_vs_predecidos.goles_hubo}}.</p>
    <p class="body3"><strong>Goles reales: </strong>Los goles predecidos por el modelo fueron {{ xgData.golesReales_vs_predecidos.goles_predecido| number: '1.2-2'}}</p>
    <p class="body3"><strong>Gol: </strong>El {{ xgData.goles_esperados[0]*100 | number: '1.2-2'}}% de los datos fueron gol.</p>
    <p class="body3"><strong>No gol: </strong>El {{ xgData.goles_esperados[1]*100| number: '1.2-2'}}% de los datos no fueron gol.</p>
  </div>
</div>

<div class="card animate__animated animate__zoomInDown" *ngIf="xgData">
  <div class="first-content">
    <div class="card-body">
      <h5 class="card-title"><span>Goles de penalti reales vs predicción</span></h5>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">No hubo gol de penalti(R)</th>
              <th scope="col">Hubo gol de penalti(R)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">%</th>
              <td>{{ xgData.goles_penalti[0]*100 | number: '1.2-2'}}</td> 
              <td>{{ xgData.goles_penalti[1]*100 | number: '1.2-2'}}</td> 
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">No hubo gol de penalti (P)</th>
              <th scope="col">Hubo gol de penalti(P)</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">%</th>
              <td>{{(1 - xgData.predicciones_penalti.xG['mean'])*100 | number: '1.2-2'}}</td> 
              <td>{{ xgData.predicciones_penalti.xG['mean']*100| number: '1.2-2'}}</td> 
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div class="second-content">
    <p class="body3"><strong>No hubo gol de penalti: </strong>De los penaltis reales, no acabaron en gol el {{xgData.goles_penalti[0]*100 | number: '1.2-2'}}% de ellos.</p>
    <p class="body3"><strong>Hubo gol de penalti: </strong>De los penaltis reales, acabaron en gol el {{xgData.goles_penalti[1]*100 | number: '1.2-2'}}% de ellos.</p>
    <p class="body3"><strong>No hubo gol de penalti: </strong>De los penaltis predecidos, no acabaron en gol el {{(1 - xgData.predicciones_penalti.xG['mean'])*100 | number: '1.2-2'}}% de ellos.</p>
    <p class="body3"><strong>Hubo gol de penalti: </strong>De los penaltis predecidos, acabaron en gol el {{ xgData.predicciones_penalti.xG['mean']*100| number: '1.2-2'}}% de ellos.</p>
  </div>
</div>


<div class="card2 animate__animated animate__zoomInDown" *ngIf="xgData">
  <div class="card-inner">
    <div class="card-front">
      
      <div class="centrar" *ngIf="imgxG">
        <p class="body2"><b>Representación del modelo de goles esperados</b></p>
        <img class="golesEsperadosImg" src="{{imgxG}}" alt="Imagen goles esperados">
      </div>
    </div>
    <div class="card-back">
      <p class="body">Este tipo de gráfico es utilizado para visualizar desde donde se efectuaron los tiros y qué probabilidad tenían de convertirse en gol.</p>
      <p class="body"><b class="titulo2">Conclusiones</b></p>
      
      <p  class="body"><b>Densidad de Tiros:</b> Hay una alta concentración de tiros (puntos) alrededor del área de penalti, lo que es típico, ya que, es una posición desde donde se marca una gran cantidad de goles. La densidad de los tiros disminuye a medida que te alejas del área de gol.</p>
      <p  class="body"><b>Calor de los Tiros:</b> La variación de colores, desde el rojo hasta el amarillo,representa la probabilidad de xG de cada tiro. Las áreas más cálidas (colores amarillos) indican una mayor probabilidad de xG, mientras que las áreas más frías (colores rojos oscuros) indican una menor probabilidad.</p>
      <p  class="body"><b>Eficiencia de los Tiros:</b> Si se consideran los colores junto con la barra de escala de color a la derecha, se puede deducir que muchos de los tiros que se produjeron desde buenas posiciones no resultaron en goles.</p>
    </div>
  </div>
</div>

<app-spacer></app-spacer> 