
.contenedor-formulario {
    flex: 1;
    max-width: 400px;
    position: relative;
    }
    
    
    form {
      width: 100%;    
        
    }

    .formulario[_ngcontent-ng-c221901952] {
      background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
      width: 40%;
      margin-left: 30%;
      border-radius: 10px;
      margin-top: 5%;
  }

    
    form input[type="text"] {
      width: 100%;      
      padding: 10px;    
     
    }
    
    select.form-select {
      max-width: 300px;
      width: 100%; 
    }
  
    .contenedor{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 150px;
    }
  
    .container {
      margin-top: 20px;
    }
    
    .table {
      margin-top: 20px;
      margin-bottom: 300px;
      width: 100%;
      max-width: 80%;
    }
    
    .table-responsive {
      margin: auto; 
    }
  
    .list-group-item {
      background-color: white; 
      list-style-type: none; 
      border-bottom: 1px solid #ddd; 
      padding: 10px 15px; 
      color: #333; 
      cursor: pointer;
  }
  
  
  .list-group {
    position: absolute; 
    width: 100%; 
    z-index: 1000; 
    top: 100%; 
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  
  /* INPUT*/
  
  .form__group {
    position: relative;
    padding: 30px 0 0;
    width: 100%;
    max-width: 250px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    outline: 0;
    font-size: 20px;
    color: black;
    padding: 10px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 20px;
    cursor: text;
    top: 30px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 20px;
    color: black ;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 7px;
    font-weight: 700;
    border-width: 4px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 20px;
    color: black;
    font-weight: 700;
  }
  
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  

.estadisticas{
  max-width: 90%;
}

.centrar{
  display: flex;
  justify-content: center;
}

.centrar2{
  display: flex;
  justify-content: center;
}

.estadisticas {
  max-width: 1400px;
  margin: auto;
  display: block;
}

.goles{
  max-width: 1400px;
  margin: auto;
}

.alineaciones{
  max-width: 1400px;
  margin: auto;
}

.penaltis{
  max-width: 1400px;
  margin: auto;

  display: block;
}

.cabecera{
  max-width: 300px;
  margin: auto;
}



.ultimos-partidos{
  max-width: 1400px;
  margin: auto;
}

.plantilla{
  max-width: 1400px;
  margin: auto;
}

.ultimos-partidos .sub-card {
  margin-top: 10px;
}

.match-venue h5 {
  margin-bottom: 5px;
}

.match-detail .team-logo {
  width: 50px; 
}

.match-detail .match-score {
  font-size: 1.5em;
  align-self: center;
}

.match-detail .league-logo {
  width: 30px;
}

.red {
  background-color: #f43f5e;
}

.blue {
  background-color: #3b82f6;
}

.green {
  background-color: #22c55e;
}

.cards {
  height: 500px; 
  width: 350px; 
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cards:hover {
  transform: scale(1.1);
}

.info{
  position: absolute;
  gap: 10px !important;
  top: 80px;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: #000000; 
  margin-top: 140px; 
  font-weight: 300;
  font-size: 20px;
}

.row:hover > .col-md-4 .cards:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
}


.sub-card-blue {
  background-color: #A2BFE3; 
}

.red{
  background-color: #f43f5e;
}

.verde{
  background-color: #22c55e;
}

.sub-card-custom {
  transition: all 0.3s ease;
  cursor: pointer;
}

.sub-card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* CARDS 2*/ 
.cards2 {
  height: 500px;
  width: 350px; 
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards2 .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cards2:hover {
  transform: scale(1.1);
}


.row:hover > .col-md-4 .cards2:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
}

.margen{
  margin-top: 150px;
}

h1{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.formulario{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
  width: 40%;
  margin-left: 30%;
  border-radius: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .formulario {
    width: 90% !important; 
    margin: 20px auto; 
    padding: 20px; 
    display: block; 
    position: relative; 
    top: 25%; 
    transform: translateY(-50%); 
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-bottom: 50px; 
  }

  .formulario[_ngcontent-ng-c221901952][_ngcontent-ng-c221901952] {
    margin-left: 5%;
    margin-bottom: 45%;
}

  .mat-form-field {
    width: 100%;
    margin-bottom: 30px;
  }


  .info{
    top: 30px;
    width: 90%;
    margin-left: 5% ;
  }


  .margen{
    margin-top: 15px;
  }

  h1 {
    font-size: 24px; 
    padding: 0; 
    margin-top: 20px; 
    margin-bottom: 30px; 
  }

  .form__group {
    width: 100%; 
  }

  .form__field,
  .form__label {
    font-size: 16px; 
  }

  .list-group {
    width: 100%;  
  }

  .contenedor,
  .contenedor-formulario {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 0; 
    margin-bottom: -20px;
    height: 180px;
  }

  .card {
    width: 95%; 
    margin-top: 10px;
  }

  .cards {
    flex-direction: column; 
  }

  .cards .card-body,
  .cards2 .card-body {
    padding: 10px; 
  }
}

span{
  font-family: 'Poppins', sans-serif !important;
}

h1,h2,h5{
  font-family: 'Poppins', sans-serif !important;
}

