.footer {
    background-color: #000; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
    font-size: 16px; 
    font-weight: bold; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    left: 0;
    right: 0;
    z-index: 2;
}




.footer__text {
    margin: 0; 
    
}
