
<div class="imagen-fondo">
        
    <img src="assets/img/cesped.jpg" alt="Imagen fondo">

</div>

<div class="dropdown">
    <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>emoji_events</mat-icon><span>Clasificaciones</span></button>
    <mat-menu #menu="matMenu">
    <button (click)="navegarC()" mat-menu-item><mat-icon>emoji_events</mat-icon><span>Clasificaciones</span></button>
    <button (click)="navegarxG()" mat-menu-item><mat-icon>sports_soccer</mat-icon><span>Goles esperados xG</span></button>
    <button (click)="navegarMundial()" mat-menu-item><mat-icon>public</mat-icon><span> Mundial</span></button>
  </mat-menu>
</div>

<h1>Predicciones: clasificaciones</h1>
<div class="info">
  <i class="fi fi-sr-info"></i>
  <span>Compara las clasificaciones de puntos esperados y real para la temporada 2015/2016</span>
</div>

<div class="contenedor-iconos">
  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center" class="contenedor-logo" >
    <img class="iconos liga" src="assets/img/laliga.png" alt="La liga">
    <div class="customCheckBoxHolder">
        <input type="checkbox" id="cCB1" class="customCheckBoxInput">
        <label for="cCB1" class="customCheckBoxWrapper" (click)="Laliga($event)">
            <div class="customCheckBox">
                <div class="inner"><span>La Liga</span></div>
            </div>
        </label>
    </div>
  </div>
  
  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center" class="contenedor-logo" >
    <img class="iconos premier" src="assets/img/premier.png" alt="Premier">
    <div class="customCheckBoxHolder">
        <input type="checkbox" id="cCB2" class="customCheckBoxInput">
        <label for="cCB2" class="customCheckBoxWrapper" (click)="premier($event)">
            <div class="customCheckBox">
                <div class="inner"><span>Premier League</span></div>
            </div>
        </label>
    </div>
  </div>
  
  
  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center" class="contenedor-logo" >
    <img class="serieA iconos" src="assets/img/serieA.avif" alt="SerieA">
    <div class="customCheckBoxHolder">
        <input type="checkbox" id="cCB3" class="customCheckBoxInput">
        <label for="cCB3" class="customCheckBoxWrapper" (click)="serieA($event)">
            <div class="customCheckBox">
                <div class="inner"><span>Serie A</span></div>
            </div>
        </label>
    </div>
  </div>
  
  
  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center" class="contenedor-logo" >
    <img class="iconos bundesliga" src="assets/img/bundesliga.png" alt="Bundesliga">
    <div class="customCheckBoxHolder">
        <input type="checkbox" id="cCB4" class="customCheckBoxInput">
        <label for="cCB4" class="customCheckBoxWrapper" (click)="bundesliga($event)">
            <div class="customCheckBox">
                <div class="inner"><span>Bundesliga</span></div>
            </div>
        </label>
    </div>
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center" class="contenedor-logo" >
    <img class="ligue1 iconos" src="assets/img/ligue1.avif" alt="Ligue 1">
    <div class="customCheckBoxHolder">
        <input type="checkbox" id="cCB5" class="customCheckBoxInput">
        <label for="cCB5" class="customCheckBoxWrapper"  (click)="ligue1($event)">
            <div class="customCheckBox">
                <div class="inner"><span>Ligue 1</span></div>
            </div>
        </label>
    </div>
  </div> 
</div>
   
<!-- La Liga-->

<div class="container mt-3" >
    
    <div class="loader" *ngIf="loading"></div>
    <div class="row">
      <!-- Columna para la tabla de predicción -->
      <div class="col animate__animated animate__zoomInDown" *ngIf="laLigaData && laLigaData.length > 0">
          <h3>Predicción</h3>
          <table class="table table-striped estilo-tabla">
            <thead >
              <tr>
                <th>Posición</th>
                <th>Equipo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of laLigaData; let i = index" [ngClass]="{
                  'gold': i === 0,
                  'silver': i === 1,
                  'bronze': i === 2,
                  'red': i >= laLigaData.length - 3
                }">
                <td>{{ i + 1 }}</td>
                <td>{{ item.equipo }}</td>
                <td>{{ item.puntos | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col animate__animated animate__zoomInDown" *ngIf="laLigaRealData && laLigaRealData.length > 0"> 
        <h3>Clasificación real</h3>
        <table class="table table-striped estilo-tabla" >
          <thead>
            <tr>
              <th>Posición</th>
              <th>Equipo</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of laLigaRealData; let i = index" [ngClass]="{
                'gold': i === 0,
                'silver': i === 1,
                'bronze': i === 2,
                'red': i >= laLigaRealData.length - 3
              }">
              <td>{{ team.rank }}</td>
              <td>{{ team.equipo }}</td>
              <td>{{ team.puntos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="imgProgresoLaLiga && laLigaData && laLigaData.length > 0">
      <div class="text-center animate__animated animate__zoomInDown imagen" fxLayout="column">
        <h3>Gráfico que representa el progreso de la clasificación de puntos esperados para La Liga</h3>
        <img [src]="imgProgresoLaLiga" alt="Gráfico de xPoints de la Ligue 1" class="img-fluid mx-auto"/>
      </div>
    </div>
</div>

<!--Premier League-->

<div class="container mt-3" >

  <div class="row">
    <!-- Columna para la tabla de predicción -->
    <div class="col animate__animated animate__zoomInDown" *ngIf="premierData && premierData.length > 0">
        <h3>Predicción</h3>
        <table class="table table-striped estilo-tabla">
          <thead >
            <tr>
              <th>Posición</th>
              <th>Equipo</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of premierData; let i = index" [ngClass]="{
                'gold': i === 0,
                'silver': i === 1,
                'bronze': i === 2,
                'red': i >= premierData.length - 3
              }">
              <td>{{ i + 1 }}</td>
              <td>{{ item.equipo }}</td>
              <td>{{ item.puntos | number: '1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col animate__animated animate__zoomInDown" *ngIf="premierRealData && premierRealData.length > 0"> 
      <h3>Clasificación real</h3>
      <table class="table table-striped estilo-tabla" >
        <thead>
          <tr>
            <th>Posición</th>
            <th>Equipo</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of premierRealData; let i = index" [ngClass]="{
              'gold': i === 0,
              'silver': i === 1,
              'bronze': i === 2,
              'red': i >= premierRealData.length - 3
            }">
            <td>{{ team.rank }}</td>
            <td>{{ team.equipo }}</td>
            <td>{{ team.puntos }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="imgProgresoPremier && premierData && premierData.length > 0">
    <div class="text-center animate__animated animate__zoomInDown imagen" fxLayout="column">
      <h3>Gráfico que representa el progreso de la clasificación de puntos esperados para la Premier League</h3>
      <img [src]="imgProgresoPremier" alt="Gráfico de xPoints de la Ligue 1" class="img-fluid mx-auto"/>
    </div>
  </div>
</div>

  <!--SERIEA-->
  <div class="container mt-3" >
    
    <div class="row">
      <!-- Columna para la tabla de predicción -->
      <div class="col animate__animated animate__zoomInDown" *ngIf="serieAData && serieAData.length > 0">
          <h3>Predicción</h3>
          <table class="table table-striped estilo-tabla">
            <thead >
              <tr>
                <th>Posición</th>
                <th>Equipo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of serieAData; let i = index" [ngClass]="{
                  'gold': i === 0,
                  'silver': i === 1,
                  'bronze': i === 2,
                  'red': i >= serieAData.length - 3
                }">
                <td>{{ i + 1 }}</td>
                <td>{{ item.equipo }}</td>
                <td>{{ item.puntos | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col animate__animated animate__zoomInDown" *ngIf="SerieARealData && SerieARealData.length > 0"> 
        <h3>Clasificación real</h3>
        <table class="table table-striped estilo-tabla" >
          <thead>
            <tr>
              <th>Posición</th>
              <th>Equipo</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of SerieARealData; let i = index" [ngClass]="{
                'gold': i === 0,
                'silver': i === 1,
                'bronze': i === 2,
                'red': i >= SerieARealData.length - 3
              }">
              <td>{{ team.rank }}</td>
              <td>{{ team.equipo }}</td>
              <td>{{ team.puntos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="imgProgresoSerieA && serieAData && serieAData.length > 0">
      <div class="text-center animate__animated animate__zoomInDown imagen" fxLayout="column">
        <h3>Gráfico que representa el progreso de la clasificación de puntos esperados para la Serie A</h3>
        <img [src]="imgProgresoSerieA" alt="Gráfico de xPoints de la Ligue 1" class="img-fluid mx-auto"/>
      </div>
    </div>
  </div>

  <!--Bundesliga-->
  <div class="container mt-3" >
    
    <div class="row">
      <!-- Columna para la tabla de predicción -->
      <div class="col animate__animated animate__zoomInDown" *ngIf="bundesligaData && bundesligaData.length > 0">
          <h3>Predicción</h3>
          <table class="table table-striped estilo-tabla">
            <thead >
              <tr>
                <th>Posición</th>
                <th>Equipo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of bundesligaData; let i = index" [ngClass]="{
                  'gold': i === 0,
                  'silver': i === 1,
                  'bronze': i === 2,
                  'red': i >= bundesligaData.length - 3
                }">
                <td>{{ i + 1 }}</td>
                <td>{{ item.equipo }}</td>
                <td>{{ item.puntos | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col animate__animated animate__zoomInDown" *ngIf="bundesligaRealData && bundesligaRealData.length > 0"> 
        <h3>Clasificación real</h3>
        <table class="table table-striped estilo-tabla" >
          <thead>
            <tr>
              <th>Posición</th>
              <th>Equipo</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bundesligaRealData; let i = index" [ngClass]="{
                'gold': i === 0,
                'silver': i === 1,
                'bronze': i === 2,
                'red': i >= bundesligaRealData.length - 3
              }">
              <td>{{ team.rank }}</td>
              <td>{{ team.equipo }}</td>
              <td>{{ team.puntos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="imgProgresoBundesliga && bundesligaData && bundesligaData.length > 0">
      <div class="text-center animate__animated animate__zoomInDown imagen" fxLayout="column">
        <h3>Gráfico que representa el progreso de la clasificación de puntos esperados para la Bundesliga</h3>
        <img [src]="imgProgresoBundesliga" alt="Gráfico de xPoints de la Bundesliga" class="img-fluid mx-auto"/>
      </div>
    </div>
  </div>

  <!-- LIGUE1-->

  <div class="container mt-3" >
    
    <div class="row">
      <!-- Columna para la tabla de predicción -->
      <div class="col animate__animated animate__zoomInDown" *ngIf="ligue1Data && ligue1Data.length > 0">
          <h3>Predicción</h3>
          <table class="table table-striped estilo-tabla">
            <thead >
              <tr>
                <th>Posición</th>
                <th>Equipo</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ligue1Data; let i = index" [ngClass]="{
                  'gold': i === 0,
                  'silver': i === 1,
                  'bronze': i === 2,
                  'red': i >= ligue1Data.length - 3
                }">
                <td>{{ i + 1 }}</td>
                <td>{{ item.equipo }}</td>
                <td>{{ item.puntos | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col animate__animated animate__zoomInDown" *ngIf="ligue1RealData && ligue1RealData.length > 0"> 
        <h3>Clasificación real</h3>
        <table class="table table-striped estilo-tabla" >
          <thead>
            <tr>
              <th>Posición</th>
              <th>Equipo</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of ligue1RealData; let i = index" [ngClass]="{
                'gold': i === 0,
                'silver': i === 1,
                'bronze': i === 2,
                'red': i >= ligue1RealData.length - 3
              }">
              <td>{{ team.rank }}</td>
              <td>{{ team.equipo }}</td>
              <td>{{ team.puntos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="imgLigue1 && ligue1Data && ligue1Data.length > 0">
      <div class="text-center animate__animated animate__zoomInDown imagen" fxLayout="column">
        <h3>Gráfico que representa el progreso de la clasificación de puntos esperados para la Ligue 1</h3>
        <img [src]="imgLigue1" alt="Gráfico de xPoints de la Ligue 1" class="img-fluid mx-auto"/>
      </div>
    </div>
  </div>
  <app-spacer></app-spacer>
