<section class="ae-container-fluid rk-portfolio">

    <div class="imagen-fondo">
        
      <img src="assets/img/cesped.jpg" alt="Imagen fondo">

    </div>

    <div class="imagen-logo3">
      <img class="animate__animated animate__backInLeft" src="assets/img/logo.png" alt="Imagen logo">
    </div>

    <div class="recuadro-opaco-2">
        <h1 class="hd">Inicia sesión con Google</h1>
        <img src="assets/img/google.png" alt="google">
        <button type="button" 
                class="btn btn-primary btn-lg pi pi-google"
                (click)="login()">  LOG IN </button>

    </div>
    
    

  </section>